*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 60px;
    font-family: 'Lobster', Cursive;
    margin-bottom: 30px;
    margin-top: 30px;
}
.Content1 h3{
    margin-bottom: 30px;
}
.Content1 p{
    Color: gray;
    margin-bottom: 40px;
}
.coloringName{
    Color: orangered;
}
.Content1{
    width: 40%;
    margin-left: 4%;
    padding: 2%;
    float: left;
}
.Content2{
    width: 40%;
    margin-right: 4%;
    padding: 2%;
    float: left;
}
.Content2 img{
    width: 100%;
}
.home-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, salmon, tomato);
    padding: 10px 30px;
    border-radius: 10px;
    Color: white;
    font-weight: 700;

}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 50px;
   
 }
.Content1{
    width: 40%;
    padding: 2%;
}
.Content1 img{
    width: 100%;

}
.Content2{
    width: 40%;
    float: right;
    margin-top: 0;
    
}
.Content2 h2{
    margin-left: 80px;
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Lobster', Cursive;

}
.Content2 h4{
    margin-left: 80px;
    margin-top: 30px;
}

.Content2 p{
    margin-left: 80px;
    margin-top: 30px;
    Color: gray;
    margin-bottom: 30px;
}
.link-button2{
    text-deCoration: none;
    baCkground-image: linear-gradient(45deg, salmon, tomato);
    padding: 10px 30px;
    border-radius: 10px;
    Color: white;
    font-weight: 700;
    margin-left: 80px;
}
.experience-area{
    margin-top: 200px;
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
.experiences{
    margin-left: 10px ;
    padding-bottom: 30px;
}
.e-content{
    width: 40%;
    margin-left: 4%;
    float: left;
    padding: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
}
.e-content1{
    width: 40%;
    margin-left: 4%;
    float: left;
    padding: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
}
.e-content h2{
    padding: 20px;
}
.e-content h3{
    padding: 20px;
    Color: orangered;
}

.e-content p{
    padding: 20px;
    Color: gray;
}
.e-content1 h2{
    padding: 20px;
}
.e-content1 h3{
    padding: 20px;
    Color: orangered;
}

.e-content1 p{
    padding: 20px;
    Color: gray;
}
#full-stack{
    border-left: 6px solid;
    border-image: linear-gradient(180deg,salmon,tomato);
    border-image-slice: 1;
}
#front-end{
    border-left: 6px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
    color: gray;
}

